@mixin transition($transition){
  -moz-transition: $transition;
  -webkit-transition: $transition;
  -ms-transition: $transition;
  transition: $transition;
}

.noMargin{margin: 0;}
.margin-10{
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}
.noPadding{padding: 0;}
.imgAuto{max-width: 100%;}
//.text-large{font-size: 20px;}
.popover-cus{
  position: relative;
  cursor: pointer;
  span{
    position: absolute;
    background: #ffffff;
    bottom: 20px;
    left: -65px;
    border: 1px solid #cbcbcb;
    box-shadow: 0 0 13px #cbcbcb;
    visibility: hidden;
    opacity: 0;
    font-size: 13px;
    color: #777;
    padding: 10px;
    width: 300px;
    font-weight: 300;
    line-height: 17px;
    @include transition(all 0.2s linear);
  }
  &:hover{
    text-decoration: none;
    span{
      bottom: 30px;
      visibility: visible;
      opacity: 1;
      @include transition(all 0.2s linear);
    }
  }
}
*{
  outline: none!important;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.previewUp {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

//===================
// Form
//===================
.radio-button{
  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label
  {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    background: #ddd;
    border-radius: 100%;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 18px;
    height: 18px;
    border: 2px solid #8DC349;
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

//===================
// Top Nav BAR
//===================
.topNav{
  width: 100%;
  display: table;
  background: #0C5CAF;
  padding: 10px 0;
  .websiteName{
    float: left;
    width: 120px;
    cursor: pointer;
    img{
      width: 100%;
    }
  }
}

//===================
// ICON MENU
//===================
.icon-menu{
  width: 100%;
  display: table;
  .content{
    width: 100%;
    display: table;
    background: #F9F9F9;
    border: 1px solid #e6e6e6;
    padding: 10px 0;
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        width: 25%;
        float: left;
        a{
          display: block;
          text-align: center;
          cursor: pointer;
        }
      }
    }
  }
}

//===================
// Main Content
//===================
.MainContent{
  width: 100%;
  display: table;
  margin-bottom: 50px;
  .content{
    width: 100%;
    display: table;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding: 20px;
    .specialisedoffers{
      width: 250px;
      height: 220px;
    }
    .offersFlex{
      width: 100%;
      height: 220px;
      display: table;
      p{
        font-size: 16px;
        color: #777;
        font-weight: bold;
      }
    }

    //================
    // Home Loan
    //================
    .homeLoan{
      width: 100%;
      display: table;
    }
  }
}
